<div class="container">
  <div class="col-md-15 order-md-1">
    <h3 class="jumbotron-heading"><i class="fas fa-video"></i> 登録作品一覧(全<%= @count %>件）</h3>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            <% @movies.each do |movie| %>
            <div class="col-md-3">
              <div class="card mb-3 shadow-sm">
                <%= link_to movie_path(movie) do %>
                  <%= attachment_image_tag movie, :image, :fill, 230, 230, fallback: "no_image.jpg", class: "card-img-top" %>
                <% end %>
                <div class="card-body">
                  <p class="card-text">
                    <%= movie.name %>
                  </p>
                </div>
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </div>
   </div>
</div>